{% load static %} {% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mlinpek Mlinarstvo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    {% compress css %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style/main.css' %}"
    />
    {% endcompress %}
    <link
    rel="icon"
    href="{% static 'images/logoMlinpek.png' %}"
    type="image/x-icon"
  />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    {% include 'store/navbar.html' %}

    <section id='pecanje'
    style="background-image: url('{% static 'images/pecanje.jpg' %}')"
    aria-label="Slika sa pecanja"
  >
  </body>
</html>
